In [1]:
import findspark
print(findspark.find())
findspark.init("/usr/local/spark")

/usr/local/spark

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .master("yarn") \
        .appName("tests") \
        .config("spark.executor.instances", "3") \
        .config("spark.executor.memory","1g") \
        .config("spark.driver.memory","1g") \
        .config("spark.executor.cores",'1') \
        .config("spark.scheduler.mode","FIFO") \
        .getOrCreate()
sc = spark.sparkContext

In [32]:
#Need to time SQL operations
import time

In [3]:
print (type(sc))

<class 'pyspark.context.SparkContext'>

In [4]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [5]:
#Add to spark-defaults.conf file
#Download mysql-connector.jar
source_df = sqlContext.read.format('jdbc').options(
          url='jdbc:mysql://localhost/learnMYSQL',
          driver='com.mysql.jdbc.Driver',
          dbtable='train',
          user='root',
          password='happiness').load()

In [6]:
source_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- target: integer (nullable = true)
 |-- ps_ind_01: integer (nullable = true)
 |-- ps_ind_02_cat: integer (nullable = true)
 |-- ps_ind_03: integer (nullable = true)
 |-- ps_ind_04_cat: integer (nullable = true)
 |-- ps_ind_05_cat: integer (nullable = true)
 |-- ps_ind_06_bin: integer (nullable = true)
 |-- ps_ind_07_bin: integer (nullable = true)
 |-- ps_ind_08_bin: integer (nullable = true)
 |-- ps_ind_09_bin: integer (nullable = true)
 |-- ps_ind_10_bin: integer (nullable = true)
 |-- ps_ind_11_bin: integer (nullable = true)
 |-- ps_ind_12_bin: integer (nullable = true)
 |-- ps_ind_13_bin: integer (nullable = true)
 |-- ps_ind_14: integer (nullable = true)
 |-- ps_ind_15: integer (nullable = true)
 |-- ps_ind_16_bin: integer (nullable = true)
 |-- ps_ind_17_bin: integer (nullable = true)
 |-- ps_ind_18_bin: integer (nullable = true)
 |-- ps_reg_01: double (nullable = true)
 |-- ps_reg_02: double (nullable = true)
 |-- ps_reg_03: double (nullable = true)
 |-- ps_car_01_cat: integer (nullable = true)
 |-- ps_car_02_cat: integer (nullable = true)
 |-- ps_car_03_cat: integer (nullable = true)
 |-- ps_car_04_cat: integer (nullable = true)
 |-- ps_car_05_cat: integer (nullable = true)
 |-- ps_car_06_cat: integer (nullable = true)
 |-- ps_car_07_cat: integer (nullable = true)
 |-- ps_car_08_cat: integer (nullable = true)
 |-- ps_car_09_cat: integer (nullable = true)
 |-- ps_car_10_cat: integer (nullable = true)
 |-- ps_car_11_cat: integer (nullable = true)
 |-- ps_car_11: integer (nullable = true)
 |-- ps_car_12: double (nullable = true)
 |-- ps_car_13: double (nullable = true)
 |-- ps_car_14: double (nullable = true)
 |-- ps_car_15: double (nullable = true)
 |-- ps_calc_01: double (nullable = true)
 |-- ps_calc_02: double (nullable = true)
 |-- ps_calc_03: double (nullable = true)
 |-- ps_calc_04: integer (nullable = true)
 |-- ps_calc_05: integer (nullable = true)
 |-- ps_calc_06: integer (nullable = true)
 |-- ps_calc_07: integer (nullable = true)
 |-- ps_calc_08: integer (nullable = true)
 |-- ps_calc_09: integer (nullable = true)
 |-- ps_calc_10: integer (nullable = true)
 |-- ps_calc_11: integer (nullable = true)
 |-- ps_calc_12: integer (nullable = true)
 |-- ps_calc_13: integer (nullable = true)
 |-- ps_calc_14: integer (nullable = true)
 |-- ps_calc_15_bin: integer (nullable = true)
 |-- ps_calc_16_bin: integer (nullable = true)
 |-- ps_calc_17_bin: integer (nullable = true)
 |-- ps_calc_18_bin: integer (nullable = true)
 |-- ps_calc_19_bin: integer (nullable = true)
 |-- ps_calc_20_bin: integer (nullable = true)

In [49]:
start = time.clock()
print(source_df.groupBy("target").count().collect())
end = time.clock()
optime = end - start
print (optime)

[Row(target=1, count=21694), Row(target=0, count=573518)]
0.010661000000000254

In [ ]:
df_slow = source_df
df_slow.take(3) #probably doesn't work on original data

In [8]:
df = source_df.select("target")
df.take(5)

[Row(target=0), Row(target=0), Row(target=0), Row(target=0), Row(target=0)]

In [10]:
df_2 = source_df.select("id", "target", "ps_ind_01")
df_2.take(5)

[Row(id=7, target=0, ps_ind_01=2),
 Row(id=9, target=0, ps_ind_01=1),
 Row(id=13, target=0, ps_ind_01=5),
 Row(id=16, target=0, ps_ind_01=0),
 Row(id=17, target=0, ps_ind_01=0)]

In [46]:
start = time.clock()
df_1 = source_df.select("id", "ps_ind_02_cat")
print(df_1.take(5))
end = time.clock()
optime = end-start
print (start)
print (end)
print(optime)

[Row(id=7, ps_ind_02_cat=2), Row(id=9, ps_ind_02_cat=1), Row(id=13, ps_ind_02_cat=4), Row(id=16, ps_ind_02_cat=1), Row(id=17, ps_ind_02_cat=2)]
3.694865
3.708976
0.014110999999999763

In [47]:
#Perform a join between two dataframes
df_join = df_1.join(df_2, "id")
df_join.take(100)

[Row(id=496, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=1342, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=1959, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=2122, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=3175, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=3749, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=4101, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=4519, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=4900, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=5156, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=6397, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=6620, ps_ind_02_cat=1, target=1, ps_ind_01=1),
 Row(id=7253, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=8638, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=11033, ps_ind_02_cat=2, target=0, ps_ind_01=2),
 Row(id=11141, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=11317, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=11748, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=11858, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=12027, ps_ind_02_cat=1, target=0, ps_ind_01=5),
 Row(id=13623, ps_ind_02_cat=1, target=0, ps_ind_01=5),
 Row(id=15619, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=15957, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=16339, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=16386, ps_ind_02_cat=1, target=0, ps_ind_01=7),
 Row(id=16574, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=16861, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=17420, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=17679, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=18024, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=18051, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=18498, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=18866, ps_ind_02_cat=3, target=0, ps_ind_01=5),
 Row(id=19079, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=19204, ps_ind_02_cat=2, target=0, ps_ind_01=3),
 Row(id=20135, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=20735, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=22346, ps_ind_02_cat=1, target=0, ps_ind_01=5),
 Row(id=22373, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=23015, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=23364, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=23571, ps_ind_02_cat=1, target=1, ps_ind_01=5),
 Row(id=24171, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=26583, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=26623, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=27484, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=28024, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=28088, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=28577, ps_ind_02_cat=2, target=0, ps_ind_01=4),
 Row(id=28664, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=28759, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=29054, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=29194, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=29228, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=29285, ps_ind_02_cat=1, target=0, ps_ind_01=5),
 Row(id=29814, ps_ind_02_cat=1, target=0, ps_ind_01=5),
 Row(id=29894, ps_ind_02_cat=1, target=0, ps_ind_01=3),
 Row(id=29993, ps_ind_02_cat=1, target=0, ps_ind_01=6),
 Row(id=30654, ps_ind_02_cat=1, target=0, ps_ind_01=6),
 Row(id=32396, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=33412, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=33602, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=33717, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=33722, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=34234, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=34239, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=35689, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=35820, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=37489, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=38395, ps_ind_02_cat=2, target=0, ps_ind_01=5),
 Row(id=38422, ps_ind_02_cat=4, target=0, ps_ind_01=4),
 Row(id=38723, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=38758, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=39285, ps_ind_02_cat=2, target=0, ps_ind_01=3),
 Row(id=39432, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=40383, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=40515, ps_ind_02_cat=1, target=0, ps_ind_01=7),
 Row(id=40574, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=40653, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=41409, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=41575, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=41751, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=41890, ps_ind_02_cat=1, target=0, ps_ind_01=1),
 Row(id=41946, ps_ind_02_cat=2, target=0, ps_ind_01=0),
 Row(id=41988, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=42468, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=42834, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=43302, ps_ind_02_cat=1, target=0, ps_ind_01=4),
 Row(id=43688, ps_ind_02_cat=2, target=0, ps_ind_01=4),
 Row(id=43852, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=43935, ps_ind_02_cat=2, target=0, ps_ind_01=2),
 Row(id=44358, ps_ind_02_cat=2, target=0, ps_ind_01=5),
 Row(id=44437, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=45307, ps_ind_02_cat=2, target=0, ps_ind_01=2),
 Row(id=45341, ps_ind_02_cat=1, target=0, ps_ind_01=2),
 Row(id=46521, ps_ind_02_cat=1, target=0, ps_ind_01=6),
 Row(id=46952, ps_ind_02_cat=1, target=0, ps_ind_01=7),
 Row(id=47283, ps_ind_02_cat=2, target=0, ps_ind_01=1),
 Row(id=47501, ps_ind_02_cat=1, target=0, ps_ind_01=0),
 Row(id=49331, ps_ind_02_cat=1, target=0, ps_ind_01=4)]

In [17]:
df_join.take(1)

[Row(id=496, ps_ind_02_cat=1, target=0, ps_ind_01=2)]

In [22]:
#Need to register table for access
import pyspark.sql

source_df.registerTempTable("train")
df_3 = sqlContext.sql("""SELECT id FROM train WHERE ps_ind_01 == 2""")

In [52]:
#Use sql query

df_3 = sqlContext.sql("""SELECT id FROM train WHERE ps_ind_01 == 2""")
end = time.clock()
optime = end - start
print(optime)
df_3.take(20)

0.001988000000000323

[Row(id=7),
 Row(id=20),
 Row(id=35),
 Row(id=36),
 Row(id=74),
 Row(id=93),
 Row(id=98),
 Row(id=107),
 Row(id=109),
 Row(id=121),
 Row(id=137),
 Row(id=177),
 Row(id=200),
 Row(id=206),
 Row(id=221),
 Row(id=263),
 Row(id=271),
 Row(id=305),
 Row(id=306),
 Row(id=330)]

In [30]:
#find number of rows
df_3.count()

82468

In [31]:
len(source_df.columns)

59